/*style.css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    margin: 0 auto;
    
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1366px;
    position: relative;
    margin: 0 auto;
    margin-left: 100px;
    margin-right: 100px;
}  
/*header*/

header{
    position: relative;
    margin: 0 auto;
    height: 0px;
    z-index: 999;
    top: 0;
    /*background-image: url(/images/main02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;*/
    
    background-color: rgb(255, 255, 255);
}

header .container{
    width: 1366px;
    margin: 0 auto;
    background-color: steelblue;
    
}
header nav > ul > li:hover > .depth2{
    
    display: block;
}
header h1{
    position: absolute;
    /*background-color: black;*/
    top: 30px;
    left: 0;
    margin-left: 100px;
   
}
header h1 img{
    width: 94px;
    
}
header nav{
    position: absolute;
    right: 0;
    top: 30px;
    margin-right: 100px;
    
}

    /*1단계 메뉴*/
header nav{
  
    /*background-color: blanchedalmond;*/
}
header nav > ul.depth1 > li{
    float: left;
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    width: 140px;
    text-shadow: 1px  1px 1px rgba(70, 70, 70, 1);
   /* outline: 1px solid snow;*/
    padding-top: 10px;
    padding-bottom: 10px;
}

header nav > ul > li:last-child{
    margin-right: 0;
}
header nav ul li a{
    color: #fffdfd;
   
}
header nav > ul > li:hover > .depth2{
    border-top: 2px solid rgb(4, 4, 95);
    background-color: rgba(255, 255, 255, 0.9);
    
}

    /*2단계 메뉴*/
header nav .depth2{
   margin-top: 10px;
    
    
    display: none;
    position: absolute;
    
}

header nav .depth2 > li{
    width: 140px;
    /*background-color: cadetblue;*/
    text-shadow: none;
    
   
}
header nav .depth2 > li > a{
    display: block;
    font-weight: 300;
    text-align: center;
    padding: 15px;
    color: #333333;
    font-size: 15px;
    width: 100%;
}

#gnb .depth2 a:hover {
    font-weight: bold;
    color: rgb(4, 4, 95);
  }
  #gnb .depth2 a::after {
    /* outline: 1px solid red; */
    content: "";
    display: block;
    width: 115px;
    height: 3px;
    background-clip: content-box;
    transition-duration: 0.8s;
    margin: 0 auto;
    position: relative;
    top: -5px;
  }
  


/*main visual*/
#mainVisual{
    margin-bottom: 55px;
}
#mainVisual .swiper-container{
    width: 100%;
    object-fit: cover;
    
   
}
#mainVisual .swiper-slide{
    width: 100%;
    
}
#mainVisual .swiper-slide img{
   
    width: 100%;
    
}
/*colGroup*/
#corporation {
    width: 100%;
    height: 450px;
    margin-top: 80px;
    
    margin-bottom: 100px;
}
#corporation .container{
    width: 1366px;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
}
#corporation .title {
    text-align: center;
   
}
#corporation .title h2{
    font-size: 30px;
    padding-bottom: 30px;
}
#corporation .title p{
    font-size: 20px;
}

#corporation .group {
 width: 1366px;
 margin: 0 auto;
 text-align: center;
}
#corporation .group .col2{
    display: inline-block;
    float: left;
    width: 370px;
    height: 300px;
    box-shadow: 1px 2px 4px rgb(179, 179, 179);
    margin-right: 20px;
    margin-top: 50px;
    padding-top: 20px;
    background-color: #F6F6F6;
}
#corporation .group .col2 h2{
    font-size: 25px;
    padding-bottom: 17px;
}
#corporation .group .col2 p{
    font-size: 17px;
}
/*contents*/
#contents{
    width: 100%;
    height: 476px;
    
   
}
#contents .container{
    position: relative;
    width: 1370px;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    height: 476px;
    color:rgb(255, 255, 255);
    
}
#contents p.left{
    position: absolute;
    left: 40%;
    top: 45%;
}
#contents p{
    position: absolute;
    left: 32%;
    top: 33%;
    font-weight: 700;
}
#contents p.more{
    font-size: 16px;
    position: absolute;
    left: 43%;
    top: 60%;
    border: 1px solid rgb(255, 255, 255);
    width: 100px;
    border-radius: 20px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-left: 3px;
    font-weight: 300;
}
#contents p.customer{
    position: absolute;
    left: 30%;
}
#contents p.more a{
    color:rgb(255, 255, 255);
    
}
#contents p.more2{
    font-size: 13px;
    position: absolute;
    left: 38%;
    top: 60%;
    border: 1px solid rgb(255, 255, 255);
    width: 80px;
    border-radius: 20px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-left: 3px;
    font-weight: 300;
}
#contents p.requit{
    position: absolute;
    left: 37%;
}
#contents p.more2 a{
    color:rgb(255, 255, 255);
    
}
#contents .leftCol{
    width: 645px;
    height: 401px;
    
    float: left;
    margin-right: 7px;
    position: relative;
    background-image: url(/images/about.png);
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#contents .leftCol img{
    width: 645px;
    height: 401px;
    object-fit: cover;
}
#contents .col{
    position: relative;
    width: 355px;
    height: 199px;
    background-color: tomato;
    float: left;
    margin-right: 4px;
    margin-bottom: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0,0.4);
}
#contents .col img{
    width: 355px;
    height: 199px;
    object-fit: cover;
}
.caption1{
    background-color: rgba(255, 255, 255, 0);
    width: 645px;
    height: 401px;
    display: block;
    position: absolute;
}
.caption{
    background-color: rgba(255, 255, 255, 0);
    width: 355px;
    height: 199px;
    display: block;
    position: absolute;
}
.leftCol:hover .caption1{
    display: block; 
    overflow:hidden;
    background-color: rgba(0,0,0,0.5);
    
}
.leftCol:hover{
    background-color: rgba(0,0,0,0.5);
    color: white;
    background-image: url(/images/main\ col1.jpg);
}
#contents .leftCol:hover p.more{
    border: 1px solid rgb(255, 255, 255);
}
#contents .leftCol:hover p.more a{
    color: white;
}
#contents .leftCol p.more:hover{
    background-color: rgb(3,78,162);
    border: none;
}

#contents .col:hover p.more2{
    border: 1px solid rgb(255, 255, 255);
}
#contents .col:hover p.more2 a{
    color: white;
}
#contents .col p.more2:hover{
    background-color: rgb(3,78,162);
    border: none;
}
.col:hover .caption{
    display: block; 
    overflow:hidden;
}
.col:hover{
    background-color: rgba(0,0,0,0.5);
    color: white;
   
}
.col:hover .caption{
    display: block; 
    overflow:hidden;
    background-color: rgba(0,0,0,0.5);
   
}
#banner{
    width: 100%;
    
}
#banner img{
    padding-bottom: 0;
}
#banner{
    width: 100%;
    background-image: url(/images/main\ section\ banner_.png);
    
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}
#banner2{
    width: 100%;
    background-image: url(/images/main\ \ sectionbanner2.png);
    padding-bottom: 100px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}
#banner2 p{
    font-size: 19px;
    color: white;
    border: 1px solid white;
    border-radius: 27px;
    width: 150px;
    height: 37px;
    text-align: center;
    padding-top: 5px;
    position: absolute;
    top: 270px;
    left: 563px;
}
#banner2 p a{
    color: white;
}
#banner2 p:hover{
    background-color: white;
    font-weight: bold;
}
#banner2 p:hover a{
    color: rgb(3,78,162);
}
/*footer*/
footer{
    background-color: #ECECEC;
    height: 200px;
    color: #464646;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    width: 100%;
  
    bottom: 0;
}
footer .container2{
    width: 1366px;
    margin: 0 auto;
    
    
    
}
footer img{
    padding-top: 30px;
    width: 130px;
    height: auto;
}
footer ul{
    width: 725px;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #707070;
    margin: 0 auto;
}
footer ul li{
    display: inline-block;
    padding-right: 16px;
    font-size: 16px;
}
footer ul li a{
    color: #464646;
}
footer p{
    padding-top: 15px;
    font-size: 13px;
    
    font-weight: 300;
}

